@import '~figma-plugin-ds/dist/figma-plugin-ds.css';

#container {
  height: 100%;
  display: flex;
  flex-flow: column;

  align-items: stretch;
  align-content: stretch;

  justify-items: stretch;
  justify-content: stretch;
}

.modal_background {
  display: none;

  width: 100%;
  height: 100%;

  position: fixed;
  left: 0; top: 0; right: 0; bottom: 0;

  background: rgba(0, 0, 0, 0.5);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);

  background-color: #f5f9fc;

  border-radius: 3px;

  padding: 10px;

  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-flow: row;

  text-align: center;
}

.modal h3 {
  margin: 5px;
}

.modal_column button {
  margin-top: 5px;
  justify-content: center;
}

#delete_confirm_button {
  visibility: hidden;
}

.modal_column {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: stretch;

  flex-basis: 45%;
}

#close_modal_button {
  position: absolute;

  top:  -30px;
  right: -30px;
}

.input__field:placeholder-shown, .input__field:placeholder-shown:hover {
  border-color: #f24822;
}

.floating_button {
  position: fixed;

  bottom: 30px;
  right:  30px;

  width: var(--size-xlarge);
  height: var(--size-xlarge);

  background-color: var(--blue);
  border-radius: 50%;
}

.floating_button * {
  filter: invert(99%) sepia(2%) saturate(5%) hue-rotate(55deg) brightness(104%) contrast(98%);
}

.floating_button:hover * {
  filter: none;
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
}

iframe {
  border: 0;
  width:100%;
  height:100%;
}

.iframe_placeholder {
  border: 0;
  width:100%;
  height:100%;

  display: none;

  align-items: center;
  justify-content: center;

  font-size: 24px;
  background-color: #F1F1F2;
  color: #BCBABE  
}