.background {
    width: 750px;
    height: 600px;

    background: #F1F1F2;
    overflow-y: scroll;
}

.storybooks-list {
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 16px;
    margin-bottom: 16px;

    width: 100%;

    display:   flex;
    flex-flow: column;
}

.storybooks-list .storybook-item {
    margin-bottom: 12px;
}

.storybooks-list .storybook-item:last-child {
    margin-bottom: 0px;
}