@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.main-font {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
}

.large-text {
    line-height: 42px;
    font-size: 36px;
}

.small-text {
    font-size: 18px;
    line-height: 21px;
}

.large-text-large-line {
    line-height: 63px;
    font-size: 36px;
}